In [14]:
import pandas as pd
import numpy as np
import datetime

In [15]:
d={
    'hash'          :'category',
    'trajectory_id' :'category',
    'time_entry'    :'category',
    'time_exit'    :'category',
    'vmax':'float64',
    'vmin':'float64',
    'vmean':'float64',
    'x_entry':'float64',
    'y_entry':'float64',
    'x_exit':'float64',
    'y_exit':'float64'
}

In [16]:
train = pd.read_csv('./input/data_train.csv',dtype=d).drop(columns=['Unnamed: 0'])
test = pd.read_csv('./input/data_test.csv',dtype=d).drop(columns=['Unnamed: 0'])

def find_last_trajectories(df):
    drivers = df.hash.unique()
    df2 = pd.DataFrame(columns=df.columns)
    for driver in drivers:
        df2 = df2.append(df[df.hash == driver][-1:])
    df2 = df2.reset_index(drop=True)    
    df2.to_csv('./input/test2.csv',index=False)    

test2 = pd.read_csv('./input/test2.csv',dtype=d)
trajectory_id = test2['trajectory_id']

In [17]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 814262 entries, 0 to 814261
Data columns (total 11 columns):
hash             814262 non-null category
trajectory_id    814262 non-null category
time_entry       814262 non-null category
time_exit        814262 non-null category
vmax             256769 non-null float64
vmin             256769 non-null float64
vmean            270778 non-null float64
x_entry          814262 non-null float64
y_entry          814262 non-null float64
x_exit           814262 non-null float64
y_exit           814262 non-null float64
dtypes: category(4), float64(7)
memory usage: 114.0 MB

In [18]:
train[:10]

,hash,trajectory_id,time_entry,time_exit,vmax,vmin,vmean,x_entry,y_entry,x_exit,y_exit
0,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_0,07:04:31,07:08:32,NaN,NaN,NaN,3.751014e+06,-1.909398e+07,3.750326e+06,-1.913634e+07
1,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_1,07:20:34,07:25:42,NaN,NaN,NaN,3.743937e+06,-1.932247e+07,3.744975e+06,-1.931966e+07
2,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_2,07:53:32,08:03:25,NaN,NaN,NaN,3.744868e+06,-1.929356e+07,3.744816e+06,-1.929284e+07
3,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_3,08:17:50,08:37:23,NaN,NaN,NaN,3.744880e+06,-1.929229e+07,3.744809e+06,-1.929049e+07
4,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_4,14:38:09,14:38:09,NaN,NaN,NaN,3.744909e+06,-1.928558e+07,3.744909e+06,-1.928558e+07
5,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_5,15:02:31,15:18:33,NaN,NaN,NaN,3.744945e+06,-1.928183e+07,3.744785e+06,-1.928148e+07
6,0000cf177130469eeac79f67b6bcf3df_9,traj_0000cf177130469eeac79f67b6bcf3df_9_0,14:29:23,14:29:23,0.000000,0.000000,0.000000,3.749450e+06,-1.926506e+07,3.749450e+06,-1.926506e+07
7,0000cf177130469eeac79f67b6bcf3df_9,traj_0000cf177130469eeac79f67b6bcf3df_9_1,14:39:49,14:39:49,0.000000,0.000000,0.000000,3.749090e+06,-1.926726e+07,3.749090e+06,-1.926726e+07
8,0000cf177130469eeac79f67b6bcf3df_9,traj_0000cf177130469eeac79f67b6bcf3df_9_2,14:50:14,14:50:14,0.507809,0.507809,0.507809,3.749042e+06,-1.926632e+07,3.749042e+06,-1.926632e+07
9,0000cf177130469eeac79f67b6bcf3df_9,traj_0000cf177130469eeac79f67b6bcf3df_9_3,15:00:32,15:29:48,1.149404,1.149404,1.149404,3.749088e+06,-1.926605e+07,3.749610e+06,-1.926594e+07

In [19]:
test[:10]

,hash,trajectory_id,time_entry,time_exit,vmax,vmin,vmean,x_entry,y_entry,x_exit,y_exit
0,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_0,11:43:17,11:50:17,NaN,NaN,NaN,3.773413e+06,-1.909828e+07,3.773111e+06,-1.914508e+07
1,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_2,12:21:37,12:21:37,0.00,0.00,0.00,3.773199e+06,-1.914354e+07,3.773199e+06,-1.914354e+07
2,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_3,12:34:27,13:14:11,NaN,NaN,NaN,3.763760e+06,-1.921342e+07,3.771757e+06,-1.911092e+07
3,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_4,13:25:33,13:43:13,NaN,NaN,NaN,3.773385e+06,-1.911344e+07,3.773131e+06,-1.914465e+07
4,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_5,15:03:32,15:10:32,NaN,NaN,NaN,3.773118e+06,-1.914490e+07,NaN,NaN
5,000479418b5561ab694a2870cc04fd43_25,traj_000479418b5561ab694a2870cc04fd43_25_0,08:08:23,08:20:08,17.29,17.29,17.29,3.771380e+06,-1.933274e+07,3.769933e+06,-1.934095e+07
6,000479418b5561ab694a2870cc04fd43_25,traj_000479418b5561ab694a2870cc04fd43_25_6,12:08:23,12:13:24,NaN,NaN,NaN,3.771380e+06,-1.933274e+07,3.769983e+06,-1.934265e+07
7,000479418b5561ab694a2870cc04fd43_25,traj_000479418b5561ab694a2870cc04fd43_25_10,15:29:09,15:30:56,NaN,NaN,NaN,3.769978e+06,-1.934136e+07,NaN,NaN
8,000506a39775e5bca661ac80e3f466eb_29,traj_000506a39775e5bca661ac80e3f466eb_29_1,08:45:05,08:50:33,NaN,NaN,NaN,3.760880e+06,-1.910042e+07,3.759312e+06,-1.908280e+07
9,000506a39775e5bca661ac80e3f466eb_29,traj_000506a39775e5bca661ac80e3f466eb_29_2,11:09:02,11:09:02,NaN,NaN,NaN,3.755349e+06,-1.916135e+07,3.755349e+06,-1.916135e+07

In [20]:
test2[:10]

,hash,trajectory_id,time_entry,time_exit,vmax,vmin,vmean,x_entry,y_entry,x_exit,y_exit
0,00032f51796fd5437b238e3a9823d13d_31,traj_00032f51796fd5437b238e3a9823d13d_31_5,54212,54632,NaN,NaN,NaN,3.773118e+06,-1.914490e+07,NaN,NaN
1,000479418b5561ab694a2870cc04fd43_25,traj_000479418b5561ab694a2870cc04fd43_25_10,55749,55856,NaN,NaN,NaN,3.769978e+06,-1.934136e+07,NaN,NaN
2,000506a39775e5bca661ac80e3f466eb_29,traj_000506a39775e5bca661ac80e3f466eb_29_5,55568,55568,NaN,NaN,NaN,3.757468e+06,-1.923860e+07,NaN,NaN
3,0005401ceddaf27a9b7f0d42ef1fbe95_1,traj_0005401ceddaf27a9b7f0d42ef1fbe95_1_4,56118,56525,NaN,NaN,NaN,3.760505e+06,-1.935500e+07,NaN,NaN
4,00063a4f6c12e1e4de7d876580620667_3,traj_00063a4f6c12e1e4de7d876580620667_3_4,53647,54314,NaN,NaN,NaN,3.766319e+06,-1.917013e+07,NaN,NaN
5,0006535be25bb52dd06983447880c964_5,traj_0006535be25bb52dd06983447880c964_5_12,55326,55326,NaN,NaN,NaN,3.776037e+06,-1.916993e+07,NaN,NaN
6,0006f84bb33ec929d1cda7686f861d0a_31,traj_0006f84bb33ec929d1cda7686f861d0a_31_3,54012,54012,NaN,NaN,NaN,3.760009e+06,-1.923361e+07,NaN,NaN
7,00093ae562586aed0e053b8431e8ace4_23,traj_00093ae562586aed0e053b8431e8ace4_23_10,57189,57189,NaN,NaN,NaN,3.756665e+06,-1.914692e+07,NaN,NaN
8,000c739e444a70e1804d757a0580caaa_31,traj_000c739e444a70e1804d757a0580caaa_31_3,56491,56491,NaN,NaN,NaN,3.768082e+06,-1.922134e+07,NaN,NaN
9,000d479078af08618bddc7f09082b8c3_11,traj_000d479078af08618bddc7f09082b8c3_11_6,53886,54220,NaN,NaN,NaN,3.766505e+06,-1.920176e+07,NaN,NaN

In [21]:
def within_measure(x, y):
    #  3750901.5068 ≤ 𝑥 ≤ 3770901.5068
    #  −19268905.6133 ≤ 𝑦 ≤ −19208905.6133
    if 3750901.5068 <= x and x <= 3770901.5068 and -19268905.6133 <= y and y <= -19208905.6133:
        return 1
    else:
        return 0

def time_to_sec(values):
    return pd.to_timedelta(values).dt.total_seconds().astype(int)

train.time_entry = time_to_sec(train.time_entry)
train.time_exit = time_to_sec(train.time_exit)
test.time_entry = time_to_sec(test.time_entry)
test.time_exit = time_to_sec(test.time_exit)
test2.time_entry = time_to_sec(test.time_entry)
test2.time_exit = time_to_sec(test.time_exit)

In [24]:
"""
X = train['x_exit'].values 
Y = train['y_exit'].values
train.drop(columns=['x_exit','y_exit'],inplace=True)
test = test2
test.drop(columns=['x_exit','y_exit'],inplace=True)

city = [within_measure(x, y) for x,y in zip(X,Y)]
"""
y_train=pd.DataFrame() 
y_train['x_exit']= train['x_exit']
y_train['y_exit']= train['y_exit']

train.drop(columns=['x_exit','y_exit'],inplace=True)
test2.drop(columns=['x_exit','y_exit'],inplace=True)

In [23]:

for col in ['time_entry','time_exit','vmax','vmin','vmean','x_entry','y_entry']:
    mode = train[col].mode()[0]
    test[col].fillna(mode, inplace=True)
    test2[col].fillna(mode, inplace=True)
    train[col].fillna(mode, inplace=True)

In [25]:
from sklearn.neural_network import MLPRegressor


x_train = train.drop(columns=['hash','trajectory_id'])
x_test = test2.drop(columns=['hash','trajectory_id'])

model = MLPRegressor(hidden_layer_sizes=[100],
                      learning_rate_init=.01,
                      max_iter=200,
                      learning_rate='constant',
                      solver='adam',
                      activation='relu',
                     verbose=True)
model.fit(x_train, y_train)


pred = model.predict(x_test)

Iteration 1, loss = 38741238405.82887268
Iteration 2, loss = 1188764368.47316217
Iteration 3, loss = 1161177267.97254133
Iteration 4, loss = 1038054858.21380806
Iteration 5, loss = 944483390.79443681
Iteration 6, loss = 866581276.95332551
Iteration 7, loss = 774475671.91224349
Iteration 8, loss = 731009126.05743086
Iteration 9, loss = 711327317.89009285
Iteration 10, loss = 644656429.84947836
Iteration 11, loss = 614763331.23369670
Iteration 12, loss = 596925517.27568066
Iteration 13, loss = 575707423.51981497
Iteration 14, loss = 569318918.29920328
Iteration 15, loss = 558305440.46895552
Iteration 16, loss = 537569144.41254747
Iteration 17, loss = 562775591.33198845
Iteration 18, loss = 569243754.73687840
Iteration 19, loss = 565816735.07089996
Iteration 20, loss = 576992205.35454583
Iteration 21, loss = 574330982.97822833
Iteration 22, loss = 529561101.40839785
Iteration 23, loss = 531805044.78946149
Iteration 24, loss = 518814331.80440861
Iteration 25, loss = 508769039.89702165
Iteration 26, loss = 511333341.69174647
Iteration 27, loss = 505027746.71401507
Iteration 28, loss = 493434074.54016769
Iteration 29, loss = 539070333.09340334
Iteration 30, loss = 482956663.03184485
Iteration 31, loss = 486559772.41700697
Iteration 32, loss = 482973061.74699849
Iteration 33, loss = 481475178.61168826
Iteration 34, loss = 471492176.17761451
Iteration 35, loss = 676006662.53242552
Iteration 36, loss = 431902010.05936646
Iteration 37, loss = 470587303.43088460
Iteration 38, loss = 454145652.50923181
Iteration 39, loss = 441418303.19230872
Iteration 40, loss = 443648958.47242981
Iteration 41, loss = 438966254.47126526
Iteration 42, loss = 427647416.75121576
Iteration 43, loss = 435417210.26821274
Iteration 44, loss = 490679901.89732522
Iteration 45, loss = 489541184.76033825
Iteration 46, loss = 478460323.83863300
Iteration 47, loss = 480805408.96209234
Iteration 48, loss = 474109597.11529183
Iteration 49, loss = 460772324.30499530
Iteration 50, loss = 452027375.83033746
Iteration 51, loss = 441128860.06913930
Iteration 52, loss = 426889267.26386178
Iteration 53, loss = 418050810.86483735
Iteration 54, loss = 412682953.05677122
Iteration 55, loss = 410652823.38751680
Iteration 56, loss = 402487233.94555533
Iteration 57, loss = 407212008.66227925
Iteration 58, loss = 405595155.56568438
Iteration 59, loss = 398414769.66423458
Iteration 60, loss = 400431725.28780055
Iteration 61, loss = 398702646.69625515
Iteration 62, loss = 394727245.38684332
Iteration 63, loss = 391552292.86067730
Iteration 64, loss = 389697235.98123223
Iteration 65, loss = 386303846.99676991
Iteration 66, loss = 442628447.72517437
Iteration 67, loss = 454804762.06343883
Iteration 68, loss = 455423156.00048608
Iteration 69, loss = 450937327.50323606
Iteration 70, loss = 455235882.82420230
Iteration 71, loss = 455293718.97606784
Iteration 72, loss = 456177154.55150384
Iteration 73, loss = 451494116.38648373
Iteration 74, loss = 453510771.41321737
Iteration 75, loss = 451999598.37963033
Iteration 76, loss = 455432333.75778979
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

In [35]:
pred = model.predict(x_test)
#pred = pd.DataFrame(data=pred,columns=['x_exit','y_exit'])
pred = pd.DataFrame({'x_exit':pred[:,0],'y_exit':pred[:,1]})

In [37]:
X = pred['x_exit'].values 
Y = pred['y_exit'].values

city = [within_measure(x, y) for x,y in zip(X,Y)]

In [39]:
submission= pd.DataFrame()
submission['id']=trajectory_id 
submission['target'] = city
submission.to_csv('./output/submission.csv',index=False)    
submission[:20]

                                             id  target
0    traj_00032f51796fd5437b238e3a9823d13d_31_5       0
1   traj_000479418b5561ab694a2870cc04fd43_25_10       0
2    traj_000506a39775e5bca661ac80e3f466eb_29_5       1
3     traj_0005401ceddaf27a9b7f0d42ef1fbe95_1_4       0
4     traj_00063a4f6c12e1e4de7d876580620667_3_4       0
5    traj_0006535be25bb52dd06983447880c964_5_12       0
6    traj_0006f84bb33ec929d1cda7686f861d0a_31_3       1
7   traj_00093ae562586aed0e053b8431e8ace4_23_10       0
8    traj_000c739e444a70e1804d757a0580caaa_31_3       1
9    traj_000d479078af08618bddc7f09082b8c3_11_6       0
10  traj_000d6fba12a7d06defe90e3c9162c11e_29_11       1
11   traj_000efd6f95db39d6ba35027f02b5628f_9_20       1
12  traj_000feace3a33be9245e2783cdff467a8_15_12       0
13    traj_0011b48d0cf4f962833edd701afaf419_3_7       0
14   traj_001484cf0f956c316070be4b4c6352ff_29_7       0
15    traj_001d29060cfe35996cfeb141210ecbeb_9_2       1
16    traj_001dff40eab7eea1c10d0fadcea0c779_9_7       0
17   traj_001f9345a2979c553125c65499630f25_29_3       0
18   traj_002447d99e8f6c3bc6c1329140979a91_25_7       0
19   traj_002531dea45cd4059e92099630ebf775_3_10       0

In [42]:
min(city)

0

In [41]:
max(city)

1

In [43]:
len(train)

814262

In [44]:
city

[0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 ...]